.cartIcon_Container {
  width: 3rem;
  height: 3rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  .shoppingIcon {
    width: 2.4rem;
    height: 2.4rem;
  }
  .itemCount {
    position: absolute;
    font-size: 1.3rem;
    bottom: -0.3rem;
    font-weight: bold;
    z-index: 1000;
  }
}
