.shop_page{
    display: flex;
    flex-direction: column;
    h1{
        text-align: center;
        border-bottom:.3rem solid yellowgreen;
        margin-bottom: 2rem;
    }
    .products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 50px;
}
.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 50px;

}

.category-title {
  font-size: 3rem;
  margin-bottom: 3rem;
  text-align: center;

 
}


}
        